.japan-summer__block {
  margin-top: 60px;
}
.japan-summer__faq-block {
  margin-top: 43px;
  margin-bottom: 8px;
}
.japan-summer-banner {
  background-color: #fff;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
  z-index: 1;
  text-align: center;
}
.japan-summer-banner_transparent {
  background-color: transparent;
}
.japan-summer-banner_responsive {
  padding-left: 5%;
  padding-right: 5%;
}
@media (max-width: 768px) {
  .japan-summer-banner {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.japan-summer-banner .h1 {
  line-height: 1.2em;
  margin-bottom: 10px;
}
.japan-summer-banner__showmore {
  margin-top: 60px;
}
@media (max-width: 1042px) {
  .japan-summer-banner__showmore {
    margin-top: 20px;
  }
}
.japan-summer-banner__main-image {
  margin-top: 42px;
  margin-bottom: 18px;
  user-select: none;
}
@media (max-width: 1024px) {
  .japan-summer-banner__main-image {
    max-width: 60%;
  }
}
@media (min-width: 1024px) {
  .japan-summer-banner__main-image {
    margin-left: 10px;
  }
}
.japan-summer-banner__steps {
  margin-top: 65px;
}
.japan-summer-banner__section {
  padding-top: 45px;
  padding-bottom: 38px;
  z-index: 5;
  position: relative;
}
.japan-summer-banner__section_bigger-top {
  padding-top: 52px;
}
.japan-summer-banner__section_smaller-bottom {
  padding-bottom: 20px;
}
.japan-summer-banner__section:not(:first-child) {
  border-top: 1px solid #ededed;
}
.japan-summer-banner__text {
  font-size: 18px;
  line-height: 1.2em;
  margin-bottom: 15px;
}
.japan-summer-banner__text_darkblue {
  color: #161826;
}
.japan-summer-banner__text_big {
  font-size: 24px;
}
.japan-summer-banner__text_medium {
  font-size: 22px;
}
.japan-summer-banner__text_bg_pink {
  background-color: #fff7ff;
  line-height: 2;
  padding-left: 25px;
  padding-right: 25px;
  display: inline-block;
}
@media (max-width: 768px) {
  .japan-summer-banner__text_bg_pink {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.japan-summer-banner__content {
  padding-left: 190px;
  padding-right: 190px;
}
@media (max-width: 1200px) {
  .japan-summer-banner__content {
    padding-left: 120px;
    padding-right: 120px;
  }
}
@media (max-width: 1024px) {
  .japan-summer-banner__content {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 768px) {
  .japan-summer-banner__content {
    padding-left: 0;
    padding-right: 0;
  }
}
.japan-summer-banner__partners {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 33px;
  padding-bottom: 33px;
}
@media (max-width: 1024px) {
  .japan-summer-banner__partners {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 768px) {
  .japan-summer-banner__partners {
    flex-direction: column;
    margin-bottom: 15px;
  }
}
.japan-summer-banner__partners img {
  max-height: 60px;
  max-width: 150px;
  user-select: none;
}
@media (max-width: 768px) {
  .japan-summer-banner__partners img {
    max-width: 185px;
    max-height: 80px;
  }
  .japan-summer-banner__partners img:not(:first-of-type) {
    margin-top: 15px;
  }
}
.japan-summer-banner__decoration {
  position: absolute;
  pointer-events: none;
  user-select: none;
  z-index: 2;
}
@media (max-width: 1024px) {
  .japan-summer-banner__decoration {
    display: none;
  }
}
.japan-summer-banner__decoration_bonsai {
  left: -75px;
  top: 104px;
}
.japan-summer-banner__decoration_fish {
  top: 549px;
  right: -46px;
}
.japan-summer-banner__decoration_sakura {
  right: -52px;
  top: -62px;
}
.h1_darkblue {
  color: #161826;
}
.decoration-dots {
  position: absolute;
  overflow: hidden;
  pointer-events: none;
  user-select: none;
  width: 100%;
  height: 100%;
  z-index: -1;
  left: 0;
  top: 0;
}
@media (max-width: 768px) {
  .decoration-dots {
    display: none;
  }
}
.decoration-dots__item {
  position: absolute;
  width: 600px;
  height: 467px;
}
.decoration-dots__item_left-top {
  left: -156px;
  top: -146px;
}
.decoration-dots__item_right-bottom {
  right: -353px;
  top: 692px;
}
.decoration-dots__item_right-top {
  top: -322px;
  right: -115px;
}
.decoration-dots__item_left-bottom {
  left: -285px;
  bottom: -150px;
}
.participate-steps {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #fff7f5;
  padding: 45px 90px 65px;
  text-align: left;
}
@media (max-width: 1024px) {
  .participate-steps {
    padding: 45px;
  }
}
@media (max-width: 768px) {
  .participate-steps {
    padding: 30px;
  }
}
.participate-steps__item {
  display: flex;
  align-items: center;
  flex-basis: 44%;
}
@media (min-width: 1024px) {
  .participate-steps__item:nth-child(n+3) {
    margin-top: 48px;
  }
}
@media (max-width: 1024px) {
  .participate-steps__item {
    flex-basis: 100%;
  }
  .participate-steps__item:not(:first-child) {
    margin-top: 40px;
  }
}
@media (max-width: 768px) {
  .participate-steps__item {
    flex-direction: column;
    text-align: center;
  }
}
.participate-steps__text {
  line-height: 1.2;
  font-size: 18px;
}
.participate-steps__text_link {
  color: #ff5c01;
  text-decoration: underline;
  transition: color 0.25s ease-in-out;
}
.participate-steps__text_link:hover {
  color: #f00;
}
.participate-steps__number-container {
  flex-shrink: 0;
  margin-right: 28px;
  width: 48px;
  height: 48px;
  text-align: center;
  position: relative;
}
@media (max-width: 768px) {
  .participate-steps__number-container {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
.participate-steps__number-container svg {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-90deg);
}
.participate-steps__number {
  line-height: 2;
  font-size: 24px;
  font-weight: 700;
}
.btn {
  transition: background-color 0.25s ease-in-out, border-color 0.25s ease-in-out;
}
.btn .iconic {
  transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out;
}
.btn_hover_yellow:hover {
  background-color: #ffc608;
  border-color: #ffc608;
}
.btn_hover_yellow:hover .iconic {
  color: #cb9c00;
}
.btn_responsive {
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
}
.btn_responsive .iconic {
  margin-right: 25px;
}
.btn_rounded {
  border-radius: 30px;
  border: 1px solid #d9d9d9;
}
.btn_text_big {
  font-size: 18px;
  line-height: 3.33;
}
@media (max-width: 1024px) {
  .btn_text_big {
    line-height: 2.5;
  }
}
.random-cols_text_center {
  text-align: center;
}
.random-cols_cards {
  align-items: flex-end;
}
.random-cols__item_card {
  padding: 35px 45px 35px;
}
@media (max-width: 1024px) {
  .random-cols__item_card {
    padding: 35px;
  }
}
@media (min-width: 860px) {
  .random-cols__item_card {
    width: 32.259%;
    min-height: 605px;
  }
}
@media (max-width: 860px) {
  .random-cols__item_card {
    margin-bottom: 0;
  }
}
.random-cols__item_card .random-cols__btn {
  bottom: 30px;
}
.random-cols__item_card .btn {
  border: 1px solid #d9d9d9;
}
.random-cols__item_card p {
  line-height: 1.42;
}
.random-cols__item_card h2.h4 {
  font-size: 21px;
  text-transform: none;
  margin-bottom: 10px;
}
.random-cols__item_card .random-cols__item-img SPAN {
  padding: 12% 15% 10% 12%;
}
@media (max-width: 860px) {
  .random-cols__item_card .random-cols__item-img SPAN {
    padding-top: 5%;
  }
}
.random-cols__item_card .random-cols__bot {
  margin-top: -30px;
  padding-bottom: 65px;
}
@media (min-width: 860px) {
  .random-cols__item_white {
    background-color: #fff;
  }
}
@media (min-width: 860px) {
  .random-cols__item_main {
    min-height: 650px;
  }
  .random-cols__item_main .random-cols__btn {
    bottom: 40px;
  }
}
.faq-block__showbutton {
  width: 14px;
  height: 14px;
  position: absolute;
  left: 32px;
  top: 30px;
}
.faq-block__showbutton::before,
.faq-block__showbutton::after {
  content: "";
  height: 2px;
  width: 14px;
  background-color: #fbab1f;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: transform 0.25s ease-in-out;
  transform: translate(-50%, -50%);
}
.faq-block__showbutton::after {
  transform: translate(-50%, -50%) rotate(90deg);
}
.faq-block__showbutton.active::after {
  transform: translate(-50%, -50%);
}
.faq-block__item {
  background-color: #fff;
  padding: 26px 30% 29px 32px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  position: relative;
}
@media (max-width: 1024px) {
  .faq-block__item {
    padding-right: 20%;
  }
}
@media (max-width: 860px) {
  .faq-block__item {
    padding-right: 30px;
  }
}
.faq-block__item:not(:first-child) {
  margin-top: 10px;
}
.faq-block__heading {
  font-size: 21px;
  color: #161826;
  line-height: 1.2em;
  padding-left: 40px;
}
@media (max-width: 768px) {
  .faq-block__heading {
    font-size: 18px;
  }
}
.faq-block__more {
  display: none;
  color: #5d5d5d;
  line-height: 1.42;
  margin-left: 40px;
  margin-top: 12px;
  margin-bottom: 7px;
}
