a {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.bg-image {
  overflow: hidden;
  position: relative;
}
.bg-image > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
  font-family: 'object-fit: cover';
  width: 0;
  min-width: 100%;
  min-height: 100%;
}
p {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}
.logo-text {
  font-size: 22px;
  color: #e7505a;
  font-family: 'Forum', cursive;
}
.cbp-l-project-desc-text,
.cbp-l-project-details-list > li,
.cbp-l-project-details-list > li > strong {
  font-family: 'Alegreya Sans SC', sans-serif;
}
.cbp-popup-content .img-responsive {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.owl-carousel .owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.c-content-client-logos-slider-1 .item img {
  max-width: 200px;
  max-height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}
.cbp-l-project-details-list strong {
  margin-right: 10px;
}
.cbp-l-filters-dropdownWrap {
  width: 280px;
}
.custom-header {
  background-color: #fff !important;
}
.custom-header .c-brand {
  margin: 0;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.c-page-on-scroll .custom-header .c-brand {
  height: 65px;
  margin: 0 !important;
}
.custom-header .c-brand .c-desktop-logo {
  display: block !important;
}
@media only screen and (max-width: 991px) {
  .custom-header .c-brand {
    height: 65px;
  }
}
@media only screen and (max-width: 767px) {
  .custom-header .c-brand {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.logo-custom {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Forum', cursive;
  color: #e7505a;
  font-size: 22px;
}
.logo-custom img {
  max-width: 100%;
  max-height: 100%;
  margin-right: 10px;
}
.scroll-indicator {
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: calc(50% - 20px);
  bottom: 20px;
  font-size: 40px;
  color: #fff;
  -webkit-animation: pulse 1s infinite;
          animation: pulse 1s infinite;
}
[data-scroll] {
  cursor: pointer;
}
.html5vid video {
  height: 100%;
}
.about-material {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.about-material img {
  max-width: 40%;
}
.about-material p {
  padding-left: 20px;
}
.about-material_big img {
  max-width: 60%;
}
.about-material_medium img {
  max-width: 50%;
}
.service {
  height: 325px;
  font-weight: 400;
}
.service:hover .service__description {
  top: 0;
}
.service__description {
  position: absolute;
  top: 80%;
  width: 100%;
  background-color: rgba(231,80,90,0.7);
  -webkit-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;
  height: 100%;
}
.service__description h2 {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  height: 45px;
  line-height: 2.25;
}
.service__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 77%;
  padding-bottom: 45px;
}
.service__links li {
  list-style-type: none;
  color: #fff;
  font-size: 20px;
  -webkit-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
  cursor: pointer;
}
.service__links li:hover {
  color: rgba(255,255,255,0.7);
}
