@import url("bootstrap.min.css");


a,a:hover,a:active,a:focus,a:visited {
	text-decoration: none;
}
@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(5px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}
@-moz-keyframes fadeInUp {
	0% {
		opacity: 0;
		-moz-transform: translateY(5px);
	}
	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}
@-o-keyframes fadeInUp {
	0% {
		opacity: 0;
		-o-transform: translateY(5px);
	}
	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}
@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(5px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-50px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}
@-moz-keyframes fadeInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(-50px);
	}
	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}
@-o-keyframes fadeInDown {
	0% {
		opacity: 0;
		-o-transform: translateY(-50px);
	}
	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}
@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
body {
	min-width: 320px;
}
h2 {
	font-weight: 400;
}
header {
	padding: 10px 0;
}
.navbar-toggler-left {
	left: 0;
	top: 1.5rem;
}
.navbar-toggleable-md .navbar-collapse {
	width: auto;
}
.slider {
	max-width: 1440px;
	margin: 0 auto;
}
.carousel-item {
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	height: 550px;
}
.item-1 {
	background-image: url(../img/slide1.jpg);
}
.item-2 {
	background-image: url(../img/slide5.png);
}
.item-3 {
	background-image: url(../img/slide4.png);
}
.item-4 {
	background-image: url(../img/slide6.png);
}
.carousel-caption {
	text-align: left;
	background-color: rgba(0,0,0, .6);
	width: 44%;
	bottom: 15%;
	left: 15%;
	padding: 40px;
	animation: fadeInUp 400ms linear 50ms both;
}
.carousel-caption h3 {
	animation: fadeInDown 300ms linear 550ms both;
	margin-bottom: 10px;
}
.carousel-caption p {
	animation: fadeInDown 300ms linear 750ms both;
	line-height: 1.25;
	margin: 0;
}
.carousel-control-prev {
	background: linear-gradient(to right, rgba(0,0,0, .3), rgba(0,0,0, 0));
}
.carousel-control-next {
	background: linear-gradient(to left, rgba(0,0,0, .3), rgba(0,0,0, 0));
}
.carousel-control-next, .carousel-control-prev {
	opacity: .7;
	transition: opacity 0.3s;
}
.btn-more {
	animation: fadeInUp 300ms linear 1000ms both;
	position: absolute;
	bottom: -19px;
	border-radius: 0;
	font-family: sans-serif;
	color: #fff;
	background-color: #f27935;
}
.btn-more:hover {
	background-color: #e55c0f;
	color: #fff;
}
.services-wrap {
	text-align: center;
	padding: 3rem 1rem;
}
.services h4 {
	font-weight: 400;
}
.services h4 {
	font-size: 1.4rem;
}
.services a {
	display: block;
	color: rgba(0,0,0,.9);
	transition: background-color .5s, color .2s;
}
.services p {
	line-height: 1.25;
	color: #f27935;
}
.services a:hover {
	background-color: #f27935;
	color: #fff;
	transition: background-color .5s, color .2s;
}
.services a:hover .services-wrap p {
	color: #fff;
	transition: color .2s;
}
.sup-bg {
	background: #f2f2f2;
}
.sup-img {
	height: 320px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.sup-1 {
	background-image: url(../img/ZR8.JPG);
}
.sup-2 {
	background-image: url(../img/ZRkam-r9.jpg);
}
.sup-3 {
	background-image: url(../img/ZRbet-m1.JPG);
}
.sup-4 {
	background-image: url(../img/EOF6.jpg);
}
.sup-5 {
	background-image: url(../img/OR14.jpg);
}
.sup-build .col-lg-4, .sup-build .col-lg-6 {
	padding: 2px;
}
.sup-caption {
	line-height: 1;
	font-weight: 300;
	font-size: 1.8rem;
	background: rgba(242, 121, 53, 0.6);
	color: #fff;
	width: 100%;
	padding: 2px 0 7px;
}
.bgheader {
	margin: 0 auto;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	padding: 40px;
	max-width: 1600px;
}
.bgheader h3 {
	color: #fff;
}
.bgheader p {
	margin: 0;
	color: rgba(255,255,255,0.8);
}
.services-bgheader {
	background-image: url(../img/service-subheader.jpg);
}
.service-title {
	padding: 10px 0 15px;
	border-bottom: 3px solid #f2f2f2;
	position: relative;
}
.service-title:after {
	content: "";
	border-bottom: 3px solid #f9bf3b;
	width: 12%;
	position: absolute;
	bottom: -3px;
	left: 0;
}
.title_supp {
	border-bottom: 3px solid lightgrey;
}
.title_supp:after {
	border-bottom: 3px solid #26c281;
	width: 45%;
}
.blocknumber {
	margin-top: 20px;
}
.blocknumber span {
	display: inline-block;
	width: 48px;
	line-height: 48px;
	text-align: center;
	color: #fff;
	font-weight: bold;
}
.blocknumber a {
	color: #f27935;
	margin-left: 20px;
	font-size: 18px;
}
.blocknumber a:hover {
	color: #e55c0f;
}

/* Extra small media */
@media (max-width: 575px) {
	.navbar {
		padding: .5rem 0;
	}
	.navbar-brand {
		max-width: 78%;
		margin-right: 0;
	}
	.carousel-item {
		height: 320px;
	}
	.carousel-caption {
		text-align: center;
		width: 70%;
	}
	.btn-more {
		position: relative;
	}
	.carousel-caption h3 {
		font-size: 1.4rem;
	}
	.services-wrap {
		padding: 1.5rem 1rem;
	}
}
/* Small media  (sm)*/
@media (min-width: 576px) and (max-width: 767px)  {
	.carousel-item {
		height: 350px;
	}
	.carousel-caption {
		text-align: center;
		width: 70%;
	}
	.btn-more {
		position: relative;
	}
	.carousel-caption h3 {
		font-size: 1.4rem;
	}
}

/* Medium media (md)*/
@media (min-width: 768px) and (max-width: 991px) {
	.navbar-toggler {
		left: 1.5rem;
	}
	.carousel-caption {
		width: 70%;
	}
	.carousel-item {
		height: 475px;
	}
}

/* Large media (lg)*/
@media (min-width: 992px) and (max-width: 1199px) {
	.navbar-brand {
		width: 42%;
	}
	.carousel-caption {
		width: 60%;
	}
}

/* Extra large media */
@media (min-width: 1200px) {

}
