@import url("bootstrap.min.css");

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a,a:hover,a:active,a:focus,a:visited {
	text-decoration: none;
}
@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(5px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInUp {
	0% {
		opacity: 0;
		-moz-transform: translateY(5px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInUp {
	0% {
		opacity: 0;
		-o-transform: translateY(5px);
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(5px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-50px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}
@-moz-keyframes fadeInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(-50px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}
@-o-keyframes fadeInDown {
	0% {
		opacity: 0;
		-o-transform: translateY(-50px);
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
body {
	min-width: 320px;
	background: #f2f2f2;
	padding: 50px;
}
.wrapper {
	background-color: #fff;
	max-width: 1440px;
	margin: 0 auto;
}
header {
	padding: 10px 0;
}
.navbar-toggler-left {
	left: 0;
	top: 1.5rem;
}
.navbar-toggleable-md .navbar-collapse {
	width: auto;
}
.carousel-item {
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	height: 550px;
}
.item-1 {
	background-image: url(../img/slide1.jpg);
}
.item-2 {
	background-image: url(../img/slide5.png);
}
.item-3 {
	background-image: url(../img/slide4.png);
}
.item-4 {
	background-image: url(../img/slide6.png);
}
.carousel-caption {
	text-align: left;
	background-color: rgba(0,0,0, .6);
	width: 44%;
	bottom: 15%;
	left: 15%;
	padding: 40px;
	animation: fadeInUp 400ms linear 50ms both;
}
.carousel-caption h3 {
	animation: fadeInDown 300ms linear 550ms both;
	margin-bottom: 10px;
}
.carousel-caption p {
	animation: fadeInDown 300ms linear 750ms both;
	line-height: 1.25;
}
.carousel-control-prev {
	background: linear-gradient(to right, rgba(0,0,0, .3), rgba(0,0,0, 0));
}
.carousel-control-next {
	background: linear-gradient(to left, rgba(0,0,0, .3), rgba(0,0,0, 0));
}
.carousel-control-next, .carousel-control-prev {
	opacity: .7;
	transition: opacity 0.3s;
}
.btn-more {
	animation: fadeInUp 300ms linear 1000ms both;
	position: absolute;
	bottom: -19px;
	border-radius: 0;
	font-family: sans-serif;
	color: #fff;
	background-color: #f27935;
}
.btn-more:hover {
	background-color: #e55c0f;
	color: #fff;
}
.services-wrap {
	text-align: center;
	padding: 3rem 1rem;
}
.services h2, .services h4 {
	font-weight: 400;
}
.services h4 {
	font-size: 1.4rem;
}
.services a {
	display: block;
	color: rgba(0,0,0,.9);
	transition: background-color .5s, color .2s;
}
.services p {
	line-height: 1.25;
	color: #f27935;
}
.services a:hover {
	background-color: #f27935;
	color: #fff;
	transition: background-color .5s, color .2s;
}
.services a:hover .services-wrap p {
	color: #fff;
	transition: color .2s;
}

/* Extra small media */
@media (max-width: 575px) {
	body {
		padding: 0;
	}
	.navbar {
		padding: .5rem 0;
	}
	.navbar-brand {
		max-width: 78%;
		margin-right: 0;
	}
	.carousel-item {
		height: 320px;
	}
	.carousel-caption {
		text-align: center;
		width: 70%;
	}
	.btn-more {
		position: relative;
	}
	.carousel-caption h3 {
		font-size: 1.4rem;
	}
	.services-wrap {
		padding: 1.5rem 1rem;
	}
}
/* Small media  (sm)*/
@media (min-width: 576px) and (max-width: 767px)  {
	body {
		padding: 25px 0;
	}
	.carousel-item {
		height: 350px;
	}
	.carousel-caption {
		text-align: center;
		width: 70%;
	}
	.btn-more {
		position: relative;
	}
	.carousel-caption h3 {
		font-size: 1.4rem;
	}
}

/* Medium media (md)*/
@media (min-width: 768px) and (max-width: 991px) {
	body {
		padding: 25px;
	}
	.navbar-toggler {
		left: 1.5rem;
	}
	.carousel-caption {
		width: 70%;
	}
	.carousel-item {
		height: 475px;
	}
}

/* Large media (lg)*/
@media (min-width: 992px) and (max-width: 1199px) {
	.navbar-brand {
		width: 42%;
	}
	.carousel-caption {
		width: 60%;
	}
}

/* Extra large media */
@media (min-width: 1200px) {

}
